Adafruit-Blinka==8.40.1
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.0
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-requests==4.0.0
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.68.0
Adafruit-PureIO==1.1.11
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
asyncclick==8.1.7.2
asyncio==3.4.3
attrs==23.2.0
cbor2==5.6.3
cffi==1.16.0
cryptography==42.0.7
frozenlist==1.4.1
idna==3.7
luma.core==2.4.2
luma.oled==3.13.0
multidict==6.0.5
pillow==10.3.0
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
pyftdi==0.55.4
pyserial==3.5
python-kasa==0.6.2.1
pyusb==1.2.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
smbus2==0.4.3
sniffio==1.3.1
spidev==3.6
sysv-ipc==1.1.0
typing_extensions==4.12.1
yarl==1.9.4
